
/* .lists mat-list-item
{
    cursor: pointer;
} */

/* .example-sidenav {
    background-color: #3f51b5;
    width: 10%;
} */
/* .example-sidenav a
{
    color: white;
    font-size:  x-large;
    text-decoration: none;
    margin-left: 20%;

} */
/* .example-sidenav .lists{

   margin-top: 33%;

} */
/* .body
{
    height: 89vh;
} */
/* .menu
{
    position: fixed;
    top: 1%;
    right: 10%;
} */
/* .active
{   
    background-color: #8a97e2;
} */

/* .Refresh
{
    position: fixed;
    top: 1%;
    right: 2%;
} */

/* .buttons
{
    display: flex;
    justify-content: space-evenly;
} */
/* .example-full-width {
    width: 25%;
  } */



/* responsive toolbar and sidebar  */

.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .sort
  {
    position: absolute;
    right: 0%;
  }
.search
{
    display: flex;
    justify-content: center;
}

.something
{
    margin: 2%;
    display: flex;
    justify-content: center;
}
.something input
{
    width: 20%;
    height: 50px;
    font-size: 25px;
    border-radius:20px;
    outline: none;
}

.sidenavbarres
{
    background-color: #3f51b5 !important;
    color: white;
}
mat-sidenav
{
    background-color: #3f51b5 ;
}
mat-sidenav mat-nav-list a

{
    font-size: 25px;
    color: white;
}
.active
{text-decoration: underline;}

.left
{
    position: fixed;
    left: 15%;
}
.logo img
{
    height: 50px;
    width: 50px;
    cursor: pointer;
}