<mat-card [ngClass]="'card'" [ngStyle]="{backgroundColor:Tnote.Color}" class="trashcard">
    <div class="icons">
        <mat-icon (click)="onRetrive()">assignment_return</mat-icon>
        <mat-icon  (click)="onDelete()">delete</mat-icon>
    </div>
    <mat-card-title>{{Tnote.Title}}</mat-card-title>
    <mat-card-subtitle>{{Tnote.Tag}} </mat-card-subtitle>
    <mat-card-content>{{Tnote.Description}}</mat-card-content>
    <mat-card-footer>{{Tnote.Time|date:'medium'}}</mat-card-footer>
</mat-card>

