<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
            <mat-toolbar class="sidenavbarres">   
                <span>Menu</span>
            </mat-toolbar>
            <mat-nav-list>
                <a mat-list-item routerLink="/Notes" routerLinkActive="active">Notes</a>
                <a mat-list-item routerLink="/Trash" routerLinkActive="active">Trash</a>
            </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar  color="primary">
          <mat-toolbar-row>

                <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            
                <div class="logo">
                    <img src="../../assets/Images/TD.png" alt="#ToDo's">
                </div>
                <span>TODO's</span>
                
                <span class="example-spacer"></span>
                    <div class="sort">
                            
                            <button mat-button [matMenuTriggerFor]="animals">Sort Notes<mat-icon>keyboard_arrow_down</mat-icon></button>
                            <mat-menu #animals="matMenu">
                                <button mat-menu-item [matMenuTriggerFor]="Title">Title</button>
                                <button mat-menu-item [matMenuTriggerFor]="TimeOrder">Time</button>
                            </mat-menu>
                            
                            <mat-menu #Title="matMenu">
                                <button mat-menu-item (click)="sortTitle('A-Z')">A-Z</button>
                                <button mat-menu-item (click)="sortTitle('Z-A')">Z-A</button>
                            </mat-menu>
                            
                            <mat-menu #TimeOrder="matMenu">
                                <button mat-menu-item (click)="sortTime('Oldest')">Oldest</button>
                                <button mat-menu-item (click)="sortTime('Newest')">Latest</button>
                            </mat-menu>
                        </div>
                        
                 
            </mat-toolbar-row>
      </mat-toolbar>
        <div class="something">
            <input type="text" placeholder="Search Notes" (keyup)="this.noteservice.search(filtredStatus)" [(ngModel)]="filtredStatus">
        </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> -->

  <!-- ===================================================== -->


  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" >
            <mat-toolbar class="sidenavbarres">   
                <span>Menu</span>
            </mat-toolbar>
            <mat-nav-list>
                <a mat-list-item routerLink="/Notes" routerLinkActive="active">Notes</a>
                <a mat-list-item routerLink="/Trash" routerLinkActive="active">Trash</a>
            </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar  color="primary">
          <mat-toolbar-row>

                <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
            
                <div class="logo">
                    <img src="../../assets/Images/TD.png" alt="#ToDo's">
                </div>
                <span>TODO's</span>
                
                <span class="example-spacer"></span>
                    <div class="sort">
                            
                            <button mat-button [matMenuTriggerFor]="animals">Sort Notes<mat-icon>keyboard_arrow_down</mat-icon></button>
                            <mat-menu #animals="matMenu">
                                <button mat-menu-item [matMenuTriggerFor]="Title">Title</button>
                                <button mat-menu-item [matMenuTriggerFor]="TimeOrder">Time</button>
                            </mat-menu>
                            
                            <mat-menu #Title="matMenu">
                                <button mat-menu-item (click)="sortTitle('A-Z')">A-Z</button>
                                <button mat-menu-item (click)="sortTitle('Z-A')">Z-A</button>
                            </mat-menu>
                            
                            <mat-menu #TimeOrder="matMenu">
                                <button mat-menu-item (click)="sortTime('Oldest')">Oldest</button>
                                <button mat-menu-item (click)="sortTime('Newest')">Latest</button>
                            </mat-menu>
                        </div>
                        
                 
            </mat-toolbar-row>
      </mat-toolbar>
        <div class="something">
            <input type="text" placeholder="Search Notes" (keyup)="this.noteservice.search(filtredStatus)" [(ngModel)]="filtredStatus">
        </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>