<div class="trashbody" >
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="35%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let note of TrashNotes[0]  | search:this.noteService.serachstring | sort:this.noteService.sortItem:this.noteService.sorttype" >
            <app-trash-note  [Tnote]="note"></app-trash-note>
            </div>
        </div>
    </div>

    <div *ngIf="TrashNotes[0].length === 0">
        <h1>Nothing to display in Trash</h1>
    </div>
</div>

