<h1 [ngStyle]="{display:'flex', justifyContent:'center'}">Add Note</h1>

<form class="example-form">
        <p>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Tag</mat-label>
                <mat-select>
                  <mat-option *ngFor="let tag of tags" [value]="tag.value">
                    {{tag.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
           
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Select Color
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>colors</p>
                </mat-expansion-panel>
            </mat-accordion>
        </p>  
   
        <div class="example-button-row">
            <div class="example-flex-container">
                <button mat-raised-button color="primary">Add</button>
                <button mat-raised-button color="warn">Cancel</button> 
                <button mat-raised-button color="accent">Clear</button>
            </div>
        </div>
</form>