.sidenav-container {
    height: 100%;
}
  
.sidenav {
width: 200px;
background: #3f51b5 ;
}

.sidenav .mat-toolbar {
background: inherit;
}

.mat-toolbar.mat-primary {
position: sticky;
top: 0;
z-index: 1;
}
  

.example-spacer {
    flex: 1 1 auto;
  }


.something
{
    margin: 2%;
    display: flex;
    justify-content: center;
}
.something input
{
    height: 30px;
    font-size: 20px;
    border-radius:20px;
    outline: none;
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
  }
  
:-moz-placeholder {
text-align: center;
}

.sidenavbarres
{
    background-color: #3f51b5 !important;
    color: white;
    cursor: pointer;
}

/* mat-sidenav mat-nav-list a
{
    font-size: 25px;
    color: white;
} */
.sidenavlist
{
    color: white;
}
.active
{
    text-decoration: underline;
    color: white;
}

.left
{
    position: fixed;
    left: 15%;
}
.logo img
{
    height: 50px;
    width: 50px;
    cursor: pointer;
}
/* .logouticon , .sorticon
{
    display: none !important;
} */

/* @media screen and (max-width: 1280px) and (min-width: 150px){
    .logouttext, .sorttext
    {
        display: none !important;
    }
    .logouticon,.sorticon
    {
        display: block !important;
        cursor: pointer;
    }
} */

