<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="49.5%"  *ngFor="let note of Notes | search:this.noteService.serachstring | sort:this.noteService.sortItem:this.noteService.sorttype"> 
        <app-note [note]="note"></app-note> 
         </div>
    </div>
</div>


<div class="form" align="end">
    <div class="example-button-row">
        <div class="example-flex-container">
            <div class="example-button-container">
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="onAddNote()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
  </div>
</div>
